extends ../layout

block content
    .row 
        .col-6 
            h1= title

            include ../partials/flash

            form(action="/auth/reset-password?_method=PUT", method="post") 
                input(type="hidden", name="token", value=token)
                
                .form-group 
                    label(for="password") New password
                    input(type="text", name="password", placeholder="******", autofocus=true)#password
        
                .form-group 
                    label(for="confirmPassword") Confirm password
                    input(type="text", name="confirmPassword", placeholder="******")#confirmPassword
        
                .form-group 
                    button(type="submit") Update password