extends ../layout

block content
    .row 
        .col-6 
            h1= title

            include ../partials/flash

            h4
                a(href="/admin/labels") Manage Labels

            h4 User Management
            ul 
                li Click here to manage 
                    a(href="/admin/users") Users

            h4 
                a(href="/admin/refs") Manage Refs
