extends ../layout

block content
    .row 
        .col-6 
            h1= title

            include ../partials/flash

            h4 Manage labels
            ul 
                li Click here to manage 
                    a(href="/admin/labels/modules") Module labels 
                li Click here to manage 
                    a(href="/admin/labels/companies") Company labels 
                li Click here to manage 
                    a(href="/admin/labels/contacts") Contact labels 
                li Click here to manage 
                    a(href="/admin/labels/deals") Deal labels 
                li Click here to manage 
                    a(href="/admin/labels/quotes") Quote labels 
                li Click here to manage 
                    a(href="/admin/labels/tickets") Ticket labels 
                li Click here to manage 
                    a(href="/admin/labels/tasks") Task labels 

            h4 User Management
            ul 
                li Click here to manage 
                    a(href="/admin/users") Users

            h4 Reference Tables
            ul 
                li Click here to manage 
                    a(href="/admin/company-sources") Company sources fields
                li Click here to manage 
                    a(href="/admin/contact-industries") Contact industries fields
                li Click here to manage 
                    a(href="/admin/deal-sources") Deal sources fields 
                li Click here to manage 
                    a(href="/admin/ticket-types") Ticket types fields 
                li Click here to manage 
                    a(href="/admin/sources") Sources fields
                li Click here to manage 
                    a(href="/admin/statuses") Statuses fields
                li Click here to manage 
                    a(href="/admin/stages") Stages fields
                li Click here to manage 
                    a(href="/admin/industries") Industries fields
                li Click here to manage 
                    a(href="/admin/countries") Countries fields
                li Click here to manage 
                    a(href="/admin/states") States fields
                li Click here to manage 
                    a(href="/admin/types") Types fields
