extends ../layout

block content
    .row 
        .col-6 
            h1= title

            include ../partials/flash

            ul 
                li Click here to manage 
                    a(href="/admin/refs/company-sources") Company sources Refs
                li Click here to manage 
                    a(href="/admin/refs/contact-industries") Contact industries Refs
                li Click here to manage 
                    a(href="/admin/refs/deal-sources") Deal sources Refs 
                li Click here to manage 
                    a(href="/admin/refs/ticket-types") Ticket types Refs 
                li Click here to manage 
                    a(href="/admin/refs/task-types") Task types Refs 
                li Click here to manage 
                    a(href="/admin/refs/sources") Sources Refs
                li Click here to manage 
                    a(href="/admin/refs/statuses") Statuses Refs
                li Click here to manage 
                    a(href="/admin/refs/stages") Stages Refs
                li Click here to manage 
                    a(href="/admin/refs/industries") Industries Refs
                li Click here to manage 
                    a(href="/admin/refs/countries") Countries Refs
                li Click here to manage 
                    a(href="/admin/refs/states") States Refs
                li Click here to manage 
                    a(href="/admin/refs/types") Types Refs
