nav.nav
  .nav-start
    a(href="/").nav-brand Home
  .nav-end
    if currentUser
      a(href="/auth/logout").nav-item Logout
    else
      a(href="/auth/login").nav-item Login
      a(href="/auth/register").nav-item Register