nav.nav
  .nav-start
    a(href="/").nav-brand Home
    if currentUser
      a(href="/companies").nav-item Companies
      a(href="/contacts").nav-item Contacts
      a(href="/deals").nav-item Deals
  .nav-end
    if currentUser
      if currentUser.type == 'admin'
        a(href="/admin").nav-item Admin
      a(href="/auth/logout").nav-item Logout
    else
      a(href="/auth/login").nav-item Login
      a(href="/auth/register").nav-item Register
