extends ../../layout

block content
  .row 
    .col-6 
      h1= title

      include ../../partials/flash

      form(action=`/admin/countries/${country.id}?_method=PUT`, method="post") 
        include ./form

        .form-group 
          .row.align-items-center 
            .col-6 
              button(type="submit") Update country
            .col-6.text-end
              a(href=`/admin/countries/${country.id}`).btn.is-muted Cancel
