extends ../layout

block content
  .row 
    .col-6 
      h1= title

      include ../partials/flash

      form(action=`/tickets/${ticket.id}?_method=PUT`, method="post") 
        include ./form

        .form-group 
          .row.align-items-center 
            .col-6 
              button(type="submit") Update #{singular(downcase(labels.module.ticket))}
            .col-6.text-end
              a(href="/tickets").btn.is-muted Cancel
        