extends ../layout
include ../mixins/index-title
include ../mixins/search
include ../mixins/pagination
include ./mixins/index-headers
include ./mixins/index-cells

block content
  .row.align-items-center 
    +indexTitle("tickets")
    
    .col-12
      +search("tickets", "Type name and press Enter")

      include ../partials/flash

      table 
        thead 
          tr 
            each header in headers
              +indexHeaders(header)

        tbody 
          if tickets.length > 0
            each ticket in tickets 
              tr
                +indexCells(ticket)
          else 
            tr 
              td(colspan=7).text-center No #{downcase(labels.module.ticket)} found.
      
    .col-12 
      +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)