extends ../../layout

block content
    .row 
        .col-6 
            h1= title

            include ../../partials/flash

            form(action="/admin/states", method="post") 
                include ./form
        
                .form-group 
                    .row.align-items-center 
                        .col-6  
                            button(type="submit") Create state
                        .col-6.text-end
                            a(href="/admin/states").btn.is-muted Cancel
        