extends ../layout
include ../mixins/index
include ../mixins/pagination
include ./mixins/head
include ./mixins/cell

block content
  .row.align-items-center 
        +title("tasks")
    
        .col-12
            +search("tasks", "Type name and press Enter")

            include ../partials/flash

            table 
                thead 
                    tr 
                        each header in headers
                            +head(header)

                tbody 
                    if tasks.length > 0
                        each task in tasks 
                            tr                
                                +cell(task)
                    else 
                        tr 
                            td(colspan=7).text-center No #{downcase(labels.module.task)} found.
    
        .col-12 
            +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)