extends ../layout
include ../mixins/index-title
include ../mixins/search
include ../mixins/pagination
include ./mixins/index-headers
include ./mixins/index-cells

block content
  .row.align-items-center 
    +indexTitle("tasks")
    
    .col-12
      +search("tasks", "Type name and press Enter")

      include ../partials/flash

      table 
        thead 
          tr 
            each header in headers
              +indexHeaders(header)

        tbody 
          if tasks.length > 0
            each task in tasks 
              tr                
                +indexCells(task)
          else 
            tr 
              td(colspan=7).text-center No #{downcase(labels.module.task)} found.
    
    .col-12 
      +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)