extends ../layout
include ../mixins/index-title
include ../mixins/search
include ../mixins/pagination
include ./mixins/index-headers
include ./mixins/index-cells

block content
  .row.align-items-center 
    +indexTitle("deals")
    
    .col-12
      +search("deals", "Type name and press Enter")

      include ../partials/flash

      table 
        thead 
          tr 
            each header in headers
              +indexHeaders(header)

        tbody 
          if deals.length > 0
            each deal in deals 
              tr
                +indexCells(deal)
          else 
            tr 
              td(colspan=7).text-center No #{downcase(labels.module.deal)} found.
    
    .col-12 
      +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)