extends ../layout
include ../mixins/index
include ../mixins/pagination
include ./mixins/head
include ./mixins/cell

block content
    .row.align-items-center 
        +title("companies")
        
        .col-12
            +search("companies", "Type name and press Enter")

            include ../partials/flash
        
            table
                thead 
                    tr
                        each header in headers
                            +head(header)
                
                tbody 
                    if companies.length > 0
                        each company in companies 
                            tr
                                +cell(company)
                    else 
                        tr 
                            td(colspan=7).text-center No #{downcase(labels.module.company)} found.

        .col-12 
            +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)