extends ../layout

block content
    h1 Companies 
    table 
        thead 
            tr 
                th Id 
                th Name 
                th Website 
                th Email 
                th Phone 
                th Created by 
                th Created on 
                th Updated by 
                th Updated on 
        tbody 
            tr 
                td 1
                td Example, inc.
                td example.com 
                td info@example.com
                td +91 9988776655
                td Jane Doe 
                td Jan 12, 2025
                td Kai Doe 
                td Feb 14, 2025
                