//- email
.form-group 
  label(for="email") Email
  input(type="text", name="email", id="email", value=user ? user.email : "", placeholder="kai@doe.com", autofocus=true)

//- password
.form-group 
  label(for="password") Password
  input(type="text", id="password", name="password", placeholder="******")