extends ../layout
include ../mixins/index
include ../mixins/pagination
include ./mixins/head
include ./mixins/cell

block content
    .row.align-items-center 
        +title("quotes")
    
        .col-12
            +search("quotes", "Type name and press Enter")

            include ../partials/flash

            table 
                thead 
                    tr 
                        each header in headers
                            +head(header)

                tbody 
                    if quotes.length > 0
                        each quote in quotes 
                            tr
                                +cell(quote)
                    else 
                        tr 
                            td(colspan=7).text-center No #{downcase(labels.module.quote)} found.

        .col-12 
            +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)
