*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
a {
    color: #477dca;
    text-decoration: none;
    transition: color 0.1s linear;
}
a:active,
a:focus,
a:hover {
    color: #2c5999;
    text-decoration: underline;
}

/*
 * Grid.
 * ============================================================================
 */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/*
 * Nav.
 * ============================================================================
 */
.nav,
.nav-start,
.nav-center,
.nav-end,
.nav-brand,
.nav-item {
    display: flex;
}
.nav {
    min-height: 4rem;
    border-bottom: 1px solid #ddd;
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav-start,
.nav-center,
.nav-end {
    flex: 1;
}
.nav-start {
    justify-content: start;
}
.nav-end {
    justify-content: end;
}
.nav-brand,
.nav-item {
    padding: 0.5rem;
    align-items: center;
}
.nav-brand {
    color: darkred;
}

/*
 * Table.
 * ============================================================================
 */
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
tbody tr:hover {
    background-color: #efefef;
}
th,
td {
    border: 1px solid #767676;
    padding: 8px;
}
th {
    text-align: left;
    vertical-align: bottom;
}
td {
    vertical-align: top;
}
