extends ../layout

block content
  .row.align-items-center 
    .col-8 
      h1= user.email
    .col-4.text-end 
      a(href=`/users/${user.id}/edit`).btn.mr-4 Edit user
      button(type="button", onClick="deleteUser()") Delete user

      form(action=`/users/${user.id}?_method=DELETE`, name="deleteUserForm", method="post") 
