extends ../layout

block content
  .row 
    .col-6 
      h1= title

      form(action=`/contacts/${contact.id}?_method=PUT`, method="post") 
        include ./form
        
        .form-group 
          .row.align-items-center 
            .col-6 
              button(type="submit") Update #{singular(downcase(labels.module.contact))}
            .col-6.text-end
              a(href="/contacts").btn.is-muted Cancel
        