extends ../layout
include ../mixins/index
include ../mixins/pagination
include ./mixins/head
include ./mixins/cell

block content
    .row.align-items-center 
        +title("contacts")
    
        .col-12
            +search("contacts", "Type last name and press Enter")

            include ../partials/flash
    
            table
                thead 
                    tr
                        each header in headers
                            +head(header)
            
                tbody 
                    if contacts.length > 0
                        each contact in contacts 
                            tr
                                +cell(contact)
                    else 
                        tr 
                            td(colspan=6).text-center No #{downcase(labels.module.contact)} found.

        .col-12 
            +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)