extends ../layout

block content
    link(rel="stylesheet", href="/styles/dragula.min.css")
    script(src="/scripts/dragula.min.js") 

    .row
        .col-8 
            h1= title
        .col-4.text-end 
            button(onclick="saveContactView()") Save

        .col-6 
            h4 Available fields 
        .col-6 
            h4 Selected fields 
    
        .col-6#available 
            each field in availableFields 
                if labels.contact[field]
                    div(id=`${field}`, class="list-item")= labels.contact[field]
        .col-6#selected 
            each field in selectedFields 
                if labels.contact[field.name]
                    div(id=`${field.name}`, class="list-item")= labels.contact[field.name]
        
        form(action=`/contacts/view?_method=PUT`, name="saveContactViewForm", method="post")
            input(type="hidden", name="fields", id="contact-view-fields" value="")
    
    script. 
        // Layout drag-n-drop code.
        dragula([
            document.querySelector("#available"),
            document.querySelector("#selected"),
        ]);
