extends ../../layout

block content
  .row 
    .col-6 
      h1= title

      include ../../partials/flash

      form(action="/admin/contact-industries", method="post") 
        include ./form
        
        .form-group 
          .row.align-items-center 
            .col-6 
              button(type="submit") Create contact industry
            .col-6.text-end
              a(href="/admin/contact-industries").btn.is-muted Cancel
        